[submodule "divine/vendor/spdlog"]
	path = divine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "divine/vendor/glfw"]
	path = divine/vendor/glfw
	url = https://github.com/glfw/glfw
